<?xml version="1.0" encoding="UTF-8"?>
<Generation timestamp="${projectGenerator.generateTimestamp()}">
</Generation>	
#addMavenDependency("eu.bluepimento" "bpslib" "2.0.0-SNAPSHOT")
#addMavenRepository("bps-artifactory-releases" "Blue Pimento Artifactory" "http://artifactory.bluepimento.eu:8080/artifactory/libs-releases-local")
#addMavenRepository("bps-artifactory-snapshots" "Blue Pimento Artifactory" "http://artifactory.bluepimento.eu:8080/artifactory/libs-snapshots-local" true)

#addToSpringContext("<import resource=${quote}classpath:bluepimentoLibraryContext.xml$quote />")
#if(${bpsLibImplementation.getIncludeMails()})
	#addToSpringContext("<import resource=${quote}classpath:bluepimentoLibrary-MailContext.xml$quote />")
#end
#if(${bpsLibImplementation.getIncludeLocalization()})
	#addToSpringContext("<import resource=${quote}classpath:bluepimentoLibrary-LocalizationContext.xml$quote />")
#end