{
	"classProperties" = (
		"newsletterDefID",
		"newsletterID",
		"newsletter"
	);
	"attributesUsedForLocking" = (
		"newsletterDefID",
		"newsletterID"
	);
	"className" = "FCMNNLDefNL";
	"primaryKeyAttributes" = (
		"newsletterDefID",
		"newsletterID"
	);
	"externalName" = "FCMN_NLDEF_NL";
	"attributes" = (
		{
			"columnName" = "NLDEF_ID";
			"name" = "newsletterDefID";
			"prototypeName" = "id";
		},
		{
			"columnName" = "NL_ID";
			"name" = "newsletterID";
			"prototypeName" = "id";
		}
	);
	"relationships" = (
		{
			"joinSemantic" = "EOInnerJoin";
			"joins" = (
				{
					"sourceAttribute" = "newsletterID";
					"destinationAttribute" = "newsletterID";
				}
			);
			"name" = "newsletter";
			"isToMany" = "N";
			"destination" = "Newsletter";
		}
	);
	"name" = "FCMNNLDefNL";
	"fetchSpecificationDictionary" = {};
}