{
    attributes = (
        {columnName = "USER_ADDRESS"; name = address; prototypeName = str200; }, 
        {columnName = "USER_COMPANY"; name = company; prototypeName = str100; }, 
        {columnName = "USER_COUNTRY"; name = country; prototypeName = str50; }, 
        {
            columnName = "USER_CREATION_DATE"; 
            name = creationDate; 
            prototypeName = date; 
        }, 
        {columnName = "USER_EMAIL"; name = email; prototypeName = str200; }, 
        {columnName = "USER_FIRST_NAME"; name = firstName; prototypeName = str200; }, 
        {columnName = "USER_JOB"; name = job; prototypeName = str100; }, 
        {columnName = "USER_LAST_NAME"; name = lastName; prototypeName = str200; }, 
        {
            allowsNull = N; 
            columnName = "USER_LOGIN"; 
            name = login; 
            prototypeName = str100; 
        }, 
        {columnName = "USER_PASSWORD"; name = password; prototypeName = str200; }, 
        {columnName = "USER_STATE"; name = state; prototypeName = str100; }, 
        {columnName = "USER_TOWN"; name = town; prototypeName = str100; }, 
        {columnName = "USER_TYPE"; name = typeKey; prototypeName = str10; }, 
        {columnName = "USER_UPDATE_DATE"; name = updateDate; prototypeName = date; }, 
        {columnName = "USER_UPDATOR"; name = updator; prototypeName = str100; }, 
        {columnName = "USER_ID"; name = userID; prototypeName = id; },
        {columnName = "USER_GENDER"; name = gender; prototypeName = str10; },
        {columnName = "USER_AGE"; name = age; prototypeName = str20; },
        {columnName = "USER_REGION"; name = region; prototypeName = str50; }
    ); 
    className = FCUser; 
    classProperties = (
        lastName, 
        firstName, 
        email, 
        login, 
        password, 
        userID, 
        creationDate, 
        updateDate, 
        updator, 
        typeKey, 
        address, 
        town, 
        country, 
        state, 
        company, 
        job,
        gender,
        age,
        region
    ); 
    externalName = "FC_USER"; 
    fetchSpecificationDictionary = {}; 
    name = FCUser; 
    primaryKeyAttributes = (userID); 
}
