#macro(crossCell $_benefits $_measurementType $_contributionType)
    #set($done = $falseValue)
    #foreach($b in $_benefits)
        #if($b.evaluate("individual.hasBenefitContributionType.uriName")==$_contributionType && $b.evaluate("individual.hasBenefitChangeType.uriName")==$_measurementType)
            #renderEPIWithTagAndAlias($b "individual.name" "w:p" "Name")
            #set($done = $trueValue)
        #end 
    #end
    #if(!$done)
        <w:p/>
    #end
#end
<w:p>
    <w:pPr>
        <w:keepNext/>
        <w:pStyle w:val="Heading${level}"/>
    </w:pPr>
    <w:r>
        <w:t xml:space="preserve">Benefit Measurement Table</w:t>
    </w:r>
</w:p>
#set($benefits = $generator.getNewList())
#void($benefits.addAll($view.getEPInstances($view.getViewPoint().getEditionPattern("Benefit"))))
<w:tbl>
    <w:tblPr>
        <w:tblStyle w:val="TableGrid"/>
        <w:tblW w:w="0" w:type="auto"/>
        <w:jc w:val="center"/>
        <w:tblBorders>
            <w:top w:val="single" w:sz="4" w:space="0" w:color="auto"/>
            <w:left w:val="none" w:sz="4" w:space="0" w:color="auto"/>
            <w:bottom w:val="single" w:sz="4" w:space="0" w:color="auto"/>
            <w:right w:val="none" w:sz="4" w:space="0" w:color="auto"/>
            <w:insideH w:val="single" w:sz="4" w:space="0" w:color="auto"/>
            <w:insideV w:val="none" w:sz="4" w:space="0" w:color="auto"/>
        </w:tblBorders>
        <w:tblCellMar>
            <w:top w:w="57" w:type="dxa"/>
            <w:bottom w:w="57" w:type="dxa"/>
        </w:tblCellMar>
        <w:tblLook w:val="04A0"/>
    </w:tblPr>
    ## Header row
    <w:tr>
        <w:trPr>
            <w:cnfStyle w:val="100000000000"/>
            <w:trHeight w:val="300"/>
            <w:jc w:val="start"/>
            <w:cantSplit/>
        </w:trPr>
        <w:tc>
            <w:tcPr>
                <w:vAlign w:val="top"/>
                <w:tcBorders>
                    <w:bottom w:val="none" w:sz="0" w:space="0" w:color="auto"/>
                </w:tcBorders>
            </w:tcPr>
            <w:p>
                <w:pPr><w:keepNext/></w:pPr>
                <w:r>
                    <w:rPr>
                        <w:b/>
                    </w:rPr>
                    <w:t>Degree of Explicitness</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:vAlign w:val="top"/>
                <w:tcBorders>
                    <w:bottom w:val="none" w:sz="0" w:space="0" w:color="auto"/>
                </w:tcBorders>
            </w:tcPr>
            <w:p>
                <w:pPr><w:keepNext/></w:pPr>
                <w:r>
                    <w:rPr>
                        <w:b/>
                    </w:rPr>
                    <w:t>Do New Things</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:vAlign w:val="top"/>
                <w:tcBorders>
                    <w:bottom w:val="none" w:sz="0" w:space="0" w:color="auto"/>
                </w:tcBorders>
            </w:tcPr>
            <w:p>
                <w:pPr><w:keepNext/></w:pPr>
                <w:r>
                    <w:rPr>
                        <w:b/>
                    </w:rPr>
                    <w:t>Do Things Better</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:vAlign w:val="top"/>
                <w:tcBorders>
                    <w:bottom w:val="none" w:sz="0" w:space="0" w:color="auto"/>
                </w:tcBorders>
            </w:tcPr>
            <w:p>
                <w:pPr><w:keepNext/></w:pPr>
                <w:r>
                    <w:rPr>
                        <w:b/>
                    </w:rPr>
                    <w:t>Stop Doing Things</w:t>
                </w:r>
            </w:p>
        </w:tc>
    </w:tr>
    ## Financial
        <w:tr>
        <w:trPr>
            <w:cnfStyle w:val="100000000000"/>
            <w:trHeight w:val="300"/>
            <w:jc w:val="start"/>
            <w:cantSplit/>
        </w:trPr>
        <w:tc>
            <w:tcPr>
                <w:vAlign w:val="top"/>
                <w:tcBorders>
                    <w:bottom w:val="none" w:sz="0" w:space="0" w:color="auto"/>
                </w:tcBorders>
            </w:tcPr>
            <w:p>
                <w:pPr><w:keepNext/></w:pPr>
                <w:r>
                    <w:rPr>
                        <w:b/>
                    </w:rPr>
                    <w:t>Financial</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:vAlign w:val="top"/>
                <w:tcBorders>
                    <w:bottom w:val="none" w:sz="0" w:space="0" w:color="auto"/>
                </w:tcBorders>
            </w:tcPr>
            #crossCell($benefits "DoingNewThings" "Financial")
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:vAlign w:val="top"/>
                <w:tcBorders>
                    <w:bottom w:val="none" w:sz="0" w:space="0" w:color="auto"/>
                </w:tcBorders>
            </w:tcPr>
            #crossCell($benefits "DoingThingsBetter" "Financial")
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:vAlign w:val="top"/>
                <w:tcBorders>
                    <w:bottom w:val="none" w:sz="0" w:space="0" w:color="auto"/>
                </w:tcBorders>
            </w:tcPr>
            #crossCell($benefits "StopDoingThings" "Financial")
        </w:tc>
    </w:tr>
    ## Quantifiable
    <w:tr>
        <w:trPr>
            <w:cnfStyle w:val="100000000000"/>
            <w:trHeight w:val="300"/>
            <w:jc w:val="start"/>
            <w:cantSplit/>
        </w:trPr>
        <w:tc>
            <w:tcPr>
                <w:vAlign w:val="top"/>
                <w:tcBorders>
                    <w:bottom w:val="none" w:sz="0" w:space="0" w:color="auto"/>
                </w:tcBorders>
            </w:tcPr>
            <w:p>
                <w:pPr><w:keepNext/></w:pPr>
                <w:r>
                    <w:rPr>
                        <w:b/>
                    </w:rPr>
                    <w:t>Quantifiable</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:vAlign w:val="top"/>
                <w:tcBorders>
                    <w:bottom w:val="none" w:sz="0" w:space="0" w:color="auto"/>
                </w:tcBorders>
            </w:tcPr>
            #crossCell($benefits "DoingNewThings" "Quantifiable")
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:vAlign w:val="top"/>
                <w:tcBorders>
                    <w:bottom w:val="none" w:sz="0" w:space="0" w:color="auto"/>
                </w:tcBorders>
            </w:tcPr>
            #crossCell($benefits "DoingThingsBetter" "Quantifiable")
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:vAlign w:val="top"/>
                <w:tcBorders>
                    <w:bottom w:val="none" w:sz="0" w:space="0" w:color="auto"/>
                </w:tcBorders>
            </w:tcPr>
            #crossCell($benefits "StopDoingThings" "Quantifiable")
        </w:tc>
    </w:tr>
    ##Measurable
    <w:tr>
        <w:trPr>
            <w:cnfStyle w:val="100000000000"/>
            <w:trHeight w:val="300"/>
            <w:jc w:val="start"/>
            <w:cantSplit/>
        </w:trPr>
        <w:tc>
            <w:tcPr>
                <w:vAlign w:val="top"/>
                <w:tcBorders>
                    <w:bottom w:val="none" w:sz="0" w:space="0" w:color="auto"/>
                </w:tcBorders>
            </w:tcPr>
            <w:p>
                <w:pPr><w:keepNext/></w:pPr>
                <w:r>
                    <w:rPr>
                        <w:b/>
                    </w:rPr>
                    <w:t>Measurable</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:vAlign w:val="top"/>
                <w:tcBorders>
                    <w:bottom w:val="none" w:sz="0" w:space="0" w:color="auto"/>
                </w:tcBorders>
            </w:tcPr>
            #crossCell($benefits "DoingNewThings" "Measurable")
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:vAlign w:val="top"/>
                <w:tcBorders>
                    <w:bottom w:val="none" w:sz="0" w:space="0" w:color="auto"/>
                </w:tcBorders>
            </w:tcPr>
            #crossCell($benefits "DoingThingsBetter" "Measurable")
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:vAlign w:val="top"/>
                <w:tcBorders>
                    <w:bottom w:val="none" w:sz="0" w:space="0" w:color="auto"/>
                </w:tcBorders>
            </w:tcPr>
            #crossCell($benefits "StopDoingThings" "Measurable")
        </w:tc>
    </w:tr>
    ## Observable
    <w:tr>
        <w:trPr>
            <w:cnfStyle w:val="100000000000"/>
            <w:trHeight w:val="300"/>
            <w:jc w:val="start"/>
            <w:cantSplit/>
        </w:trPr>
        <w:tc>
            <w:tcPr>
                <w:vAlign w:val="top"/>
                <w:tcBorders>
                    <w:bottom w:val="none" w:sz="0" w:space="0" w:color="auto"/>
                </w:tcBorders>
            </w:tcPr>
            <w:p>
                <w:pPr><w:keepNext/></w:pPr>
                <w:r>
                    <w:rPr>
                        <w:b/>
                    </w:rPr>
                    <w:t>Observable</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:vAlign w:val="top"/>
                <w:tcBorders>
                    <w:bottom w:val="none" w:sz="0" w:space="0" w:color="auto"/>
                </w:tcBorders>
            </w:tcPr>
            #crossCell($benefits "DoingNewThings" "Observable")
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:vAlign w:val="top"/>
                <w:tcBorders>
                    <w:bottom w:val="none" w:sz="0" w:space="0" w:color="auto"/>
                </w:tcBorders>
            </w:tcPr>
            #crossCell($benefits "DoingThingsBetter" "Observable")
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:vAlign w:val="top"/>
                <w:tcBorders>
                    <w:bottom w:val="none" w:sz="0" w:space="0" w:color="auto"/>
                </w:tcBorders>
            </w:tcPr>
            #crossCell($benefits "StopDoingThings" "Observable")
        </w:tc>
    </w:tr>
</w:tbl>
<w:p>
    <w:pPr>
        <w:sectPr>
            <w:pgSz w:w="16838" w:h="11906"  />
            <w:pgMar w:top="1417" w:right="1417" w:bottom="1417"
                w:left="1417" w:header="708" w:footer="708" w:gutter="0" />
            <w:cols w:space="708" />
            <w:docGrid w:linePitch="360" />
        </w:sectPr>
    </w:pPr>
</w:p>
