#description($view)
#renderScreenshotForObject($view)
#set($headers = $generator.getNewList())
#set($paths = $generator.getNewList())
#set($rows = $generator.getNewList())
#set($epis = $generator.getNewList())
#void($headers.add("First name"))
#void($paths.add("actor.firstName"))
#void($headers.add("Last name"))
#void($paths.add("actor.lastName"))
#void($headers.add("Position"))    
#void($paths.add("actor.hasPosition.positionName"))
#set($tag = "w:p")
#void($epis.addAll($view.getEPInstances($view.getViewPoint().getEditionPattern("Actor"))))
#if($epis.size()>0)
    #foreach($epi in $epis)
      #set($row = $generator.getNewList())
      #foreach($path in $paths)
      	  #set($alias = ${headers.get(${foreach.index})})
          #void($row.add("#renderEPIWithTagAndAlias($epi $path $tag $alias)"))
      #end
      #void($rows.add($row))
    #end
    #renderDocxTable2($headers $rows $falseValue)
#end

