#set($viewDefinitions = ${project.getShemaLibrary().getAllShemaList()})
#set($views = ${generator.getNewVector()})

#foreach($v in $viewDefinitions)
    #void(${views.add($v.getShema())})
#end
#set($subLevel = $level + 1)
#set($subsubLevel = $level + 2)
#foreach($v in $views)
    #if(!$v.getDontGenerate())
	    #set($view = $v)
	    #set($heading = "")
	    #foreach($s in ${stringUtils.splitByCharacterTypeCamelCase(${view.getViewPoint().getName()})})
            #set($heading = "$heading $s")
        #end
        #set($heading = $heading.trim())
		<w:p>
			<w:pPr>
  				<w:keepNext/>
                <w:pStyle w:val="Heading${level}"/>
			</w:pPr>
			<w:r>
				<w:t xml:space="preserve">$heading: ${view.getName()}</w:t>
            </w:r>
		</w:p>
		
		#renderScreenshotForObject($view)
		#foreach($pattern in ${view.getViewPoint().getEditionPatterns()})
		    #set($heading ="")
		    #set($labelPath = ${pattern.getPrimaryRepresentationRole().getLabel().toString()})
			#set($headers = $generator.getNewList())
			#if($labelPath)
			    #void($headers.add(""))
			#end
			#set($rows = $generator.getNewList())
		    #foreach($s in ${stringUtils.splitByCharacterTypeCamelCase(${pattern.getName()})})
		        #set($heading = "$heading $s")
		    #end
		    #set($heading = $heading.trim())
		    #set($entries = $generator.getNewList())
            #foreach($entry in ${pattern.getInspector().getEntries()})
                #if(!${entry.getName().toLowerCase().contains("uri")} && !${entry.getLabel().toLowerCase().contains("uri")} && (${entry.getWidgetName()}=="TextField" || ${entry.getWidgetName()}=="TextArea"))
                     #void(${entries.add($entry)})
                     #set($label = ${pattern.getViewPoint().getLocalizedDictionary().getLocalizedForKeyAndLanguage($entry.getLabel(), ${Language.ENGLISH})})
                     #if(!$label)
                        #set($label = $entry.getLabel())
                     #end
                     #set($h = "#escape($label)")
                     #void($headers.add($h))
                #end
            #end
		    
		    #set($tag = "w:p")
		    #set($epis =$view.getEPInstances($pattern))
		    #if($epis.size()>0)
            #foreach($epi in $epis)
              #set($row = $generator.getNewList())
              #if($labelPath)
	              #set($label = "#renderEPIWithTag($epi $labelPath $tag)")
	              #void($row.add($label))
              #end
              #foreach($entry in $entries)
                  #set($path = ${entry.getData().toString()})
                  #void($row.add("#renderEPIWithTag($epi $path $tag)"))
              #end
              #void($rows.add($row))
            #end
            <w:p>
                <w:pPr>
                    <w:keepNext/>
                    <w:pStyle w:val="Heading${subLevel}"/>
                </w:pPr>
                <w:r>
                    <w:t>$heading</w:t>
                </w:r>
            </w:p>
            #renderDocxTable2($headers $rows $falseValue)
            #end
		#end
	#end
#end 
