<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<w:settings xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships" xmlns:m="http://schemas.openxmlformats.org/officeDocument/2006/math" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w10="urn:schemas-microsoft-com:office:word" xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main" xmlns:sl="http://schemas.openxmlformats.org/schemaLibrary/2006/main">
  <w:zoom w:percent="100"/>
  <w:defaultTabStop w:val="720"/>
  <w:hyphenationZone w:val="425"/>
  <w:evenAndOddHeaders/>
  <w:drawingGridHorizontalSpacing w:val="100"/>
  <w:displayHorizontalDrawingGridEvery w:val="2"/>
  <w:characterSpacingControl w:val="doNotCompress"/>
  <w:savePreviewPicture/>
  <w:hdrShapeDefaults>
    <o:shapedefaults v:ext="edit" spidmax="45058" fillcolor="white">
      <v:fill color="white"/>
      <o:colormru v:ext="edit" colors="#334c4f,#79b5b0,#b77851,#d1e1e3,#066,#7ea8ac,#4e767a,#293d3f"/>
      <o:colormenu v:ext="edit" fillcolor="none [3215]" strokecolor="none [3215]"/>
    </o:shapedefaults>
    <o:shapelayout v:ext="edit">
      <o:idmap v:ext="edit" data="26"/>
      <o:rules v:ext="edit">
        <o:r id="V:Rule5" type="connector" idref="#_x0000_s26646"/>
        <o:r id="V:Rule6" type="connector" idref="#_x0000_s26648"/>
        <o:r id="V:Rule7" type="connector" idref="#_x0000_s26649"/>
        <o:r id="V:Rule8" type="connector" idref="#_x0000_s26645"/>
      </o:rules>
    </o:shapelayout>
  </w:hdrShapeDefaults>
  <w:compat>
    <w:doNotSnapToGridInCell/>
    <w:doNotWrapTextWithPunct/>
    <w:doNotUseEastAsianBreakRules/>
    <w:growAutofit/>
  </w:compat>
  <w:rsids>
    <w:rsidRoot w:val="00815338"/>
    <w:rsid w:val="00041D9E"/>
    <w:rsid w:val="000813F9"/>
    <w:rsid w:val="000B0E45"/>
    <w:rsid w:val="000F418B"/>
    <w:rsid w:val="00141A09"/>
    <w:rsid w:val="0023312D"/>
    <w:rsid w:val="00296196"/>
    <w:rsid w:val="00303EA0"/>
    <w:rsid w:val="00307BAB"/>
    <w:rsid w:val="0032463D"/>
    <w:rsid w:val="0032619F"/>
    <w:rsid w:val="003272BC"/>
    <w:rsid w:val="00332F86"/>
    <w:rsid w:val="00406755"/>
    <w:rsid w:val="00540918"/>
    <w:rsid w:val="006838C6"/>
    <w:rsid w:val="006C24B1"/>
    <w:rsid w:val="007C0F09"/>
    <w:rsid w:val="00815338"/>
    <w:rsid w:val="008A6869"/>
    <w:rsid w:val="009F055E"/>
    <w:rsid w:val="00A327E0"/>
    <w:rsid w:val="00B34ADF"/>
    <w:rsid w:val="00C8523B"/>
    <w:rsid w:val="00D41269"/>
    <w:rsid w:val="00D86A85"/>
    <w:rsid w:val="00DB0AAD"/>
    <w:rsid w:val="00E2784E"/>
    <w:rsid w:val="00E57416"/>
    <w:rsid w:val="00E579DD"/>
    <w:rsid w:val="00FE69B3"/>
  </w:rsids>
  <m:mathPr>
    <m:mathFont m:val="Cambria Math"/>
    <m:brkBin m:val="before"/>
    <m:brkBinSub m:val="--"/>
    <m:smallFrac m:val="off"/>
    <m:dispDef/>
    <m:lMargin m:val="1440"/>
    <m:rMargin m:val="1440"/>
    <m:defJc m:val="centerGroup"/>
    <m:wrapIndent m:val="1440"/>
    <m:intLim m:val="subSup"/>
    <m:naryLim m:val="undOvr"/>
  </m:mathPr>
  <w:themeFontLang w:val="fr-BE"/>
  <w:clrSchemeMapping w:bg1="light1" w:t1="dark1" w:bg2="light2" w:t2="dark2" w:accent1="accent1" w:accent2="accent2" w:accent3="accent3" w:accent4="accent4" w:accent5="accent5" w:accent6="accent6" w:hyperlink="hyperlink" w:followedHyperlink="followedHyperlink"/>
  <w:shapeDefaults>
    <o:shapedefaults v:ext="edit" spidmax="45058" fillcolor="white">
      <v:fill color="white"/>
      <o:colormru v:ext="edit" colors="#334c4f,#79b5b0,#b77851,#d1e1e3,#066,#7ea8ac,#4e767a,#293d3f"/>
      <o:colormenu v:ext="edit" fillcolor="none [3215]" strokecolor="none [3215]"/>
    </o:shapedefaults>
    <o:shapelayout v:ext="edit">
      <o:idmap v:ext="edit" data="1"/>
      <o:rules v:ext="edit">
        <o:r id="V:Rule13" type="connector" idref="#_x0000_s1080"/>
        <o:r id="V:Rule14" type="connector" idref="#_x0000_s1078"/>
        <o:r id="V:Rule15" type="connector" idref="#_x0000_s1086"/>
        <o:r id="V:Rule16" type="connector" idref="#_x0000_s1082"/>
        <o:r id="V:Rule17" type="connector" idref="#_x0000_s1085"/>
        <o:r id="V:Rule18" type="connector" idref="#_x0000_s1088"/>
        <o:r id="V:Rule19" type="connector" idref="#_x0000_s1087"/>
        <o:r id="V:Rule20" type="connector" idref="#_x0000_s1076"/>
        <o:r id="V:Rule21" type="connector" idref="#_x0000_s1079"/>
        <o:r id="V:Rule22" type="connector" idref="#_x0000_s1084"/>
        <o:r id="V:Rule23" type="connector" idref="#_x0000_s1081"/>
        <o:r id="V:Rule24" type="connector" idref="#_x0000_s1077"/>
      </o:rules>
      <o:regrouptable v:ext="edit">
        <o:entry new="1" old="0"/>
        <o:entry new="2" old="0"/>
        <o:entry new="3" old="0"/>
        <o:entry new="4" old="0"/>
        <o:entry new="5" old="0"/>
        <o:entry new="6" old="0"/>
      </o:regrouptable>
    </o:shapelayout>
  </w:shapeDefaults>
  <w:doNotEmbedSmartTags/>
  <w:decimalSymbol w:val=","/>
  <w:listSeparator w:val=";"/>
</w:settings>