#set($viewDefinitions = ${project.getShemaLibrary().getAllShemaList()})
#set($views = ${generator.getNewVector()})

#foreach($v in $viewDefinitions)
    #void(${views.add($v.getShema())})
#end
#set($subLevel = $level + 1)
#set($subsubLevel = $level + 2)
#foreach($v in $views)
    #if(!$v.getDontGenerate())
	    #set($object = $v)
	    #parse($generator.getTemplatePath("docx_tocentry_view.xml"))
	#end
#end 
