<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<a:theme xmlns:a="http://schemas.openxmlformats.org/drawingml/2006/main"
	name="Urban">
	<a:themeElements>
		<a:clrScheme name="Urban">
			<a:dk1>
				<a:sysClr val="windowText" lastClr="000000" />
			</a:dk1>
			<a:lt1>
				<a:sysClr val="window" lastClr="FFFFFF" />
			</a:lt1>
			<a:dk2>
				<a:srgbClr val="424456" />
			</a:dk2>
			<a:lt2>
				<a:srgbClr val="DEDEDE" />
			</a:lt2>
			<a:accent1>
				<a:srgbClr val="53548A" />
			</a:accent1>
			<a:accent2>
				<a:srgbClr val="438086" />
			</a:accent2>
			<a:accent3>
				<a:srgbClr val="A04DA3" />
			</a:accent3>
			<a:accent4>
				<a:srgbClr val="C4652D" />
			</a:accent4>
			<a:accent5>
				<a:srgbClr val="8B5D3D" />
			</a:accent5>
			<a:accent6>
				<a:srgbClr val="5C92B5" />
			</a:accent6>
			<a:hlink>
				<a:srgbClr val="67AFBD" />
			</a:hlink>
			<a:folHlink>
				<a:srgbClr val="C2A874" />
			</a:folHlink>
		</a:clrScheme>
		<a:fontScheme name="Urban">
			<a:majorFont>
				<a:latin typeface="Trebuchet MS" />
				<a:ea typeface="" />
				<a:cs typeface="" />
				<a:font script="Jpan" typeface="HGｺﾞｼｯｸM" />
				<a:font script="Hang" typeface="맑은 고딕" />
				<a:font script="Hans" typeface="方正姚体" />
				<a:font script="Hant" typeface="微軟正黑體" />
				<a:font script="Arab" typeface="Tahoma" />
				<a:font script="Hebr" typeface="Arial" />
				<a:font script="Thai" typeface="Cordia New" />
				<a:font script="Ethi" typeface="Nyala" />
				<a:font script="Beng" typeface="Vrinda" />
				<a:font script="Gujr" typeface="Shruti" />
				<a:font script="Khmr" typeface="DaunPenh" />
				<a:font script="Knda" typeface="Tunga" />
				<a:font script="Guru" typeface="Raavi" />
				<a:font script="Cans" typeface="Euphemia" />
				<a:font script="Cher" typeface="Plantagenet Cherokee" />
				<a:font script="Yiii" typeface="Microsoft Yi Baiti" />
				<a:font script="Tibt" typeface="Microsoft Himalaya" />
				<a:font script="Thaa" typeface="MV Boli" />
				<a:font script="Deva" typeface="Mangal" />
				<a:font script="Telu" typeface="Gautami" />
				<a:font script="Taml" typeface="Latha" />
				<a:font script="Syrc" typeface="Estrangelo Edessa" />
				<a:font script="Orya" typeface="Kalinga" />
				<a:font script="Mlym" typeface="Kartika" />
				<a:font script="Laoo" typeface="DokChampa" />
				<a:font script="Sinh" typeface="Iskoola Pota" />
				<a:font script="Mong" typeface="Mongolian Baiti" />
				<a:font script="Viet" typeface="Tahoma" />
				<a:font script="Uigh" typeface="Microsoft Uighur" />
			</a:majorFont>
			<a:minorFont>
				<a:latin typeface="Georgia" />
				<a:ea typeface="" />
				<a:cs typeface="" />
				<a:font script="Jpan" typeface="HG明朝B" />
				<a:font script="Hang" typeface="맑은 고딕" />
				<a:font script="Hans" typeface="宋体" />
				<a:font script="Hant" typeface="新細明體" />
				<a:font script="Arab" typeface="Arial" />
				<a:font script="Hebr" typeface="Times New Roman" />
				<a:font script="Thai" typeface="Angsana New" />
				<a:font script="Ethi" typeface="Nyala" />
				<a:font script="Beng" typeface="Vrinda" />
				<a:font script="Gujr" typeface="Shruti" />
				<a:font script="Khmr" typeface="MoolBoran" />
				<a:font script="Knda" typeface="Tunga" />
				<a:font script="Guru" typeface="Raavi" />
				<a:font script="Cans" typeface="Euphemia" />
				<a:font script="Cher" typeface="Plantagenet Cherokee" />
				<a:font script="Yiii" typeface="Microsoft Yi Baiti" />
				<a:font script="Tibt" typeface="Microsoft Himalaya" />
				<a:font script="Thaa" typeface="MV Boli" />
				<a:font script="Deva" typeface="Mangal" />
				<a:font script="Telu" typeface="Gautami" />
				<a:font script="Taml" typeface="Latha" />
				<a:font script="Syrc" typeface="Estrangelo Edessa" />
				<a:font script="Orya" typeface="Kalinga" />
				<a:font script="Mlym" typeface="Kartika" />
				<a:font script="Laoo" typeface="DokChampa" />
				<a:font script="Sinh" typeface="Iskoola Pota" />
				<a:font script="Mong" typeface="Mongolian Baiti" />
				<a:font script="Viet" typeface="Times New Roman" />
				<a:font script="Uigh" typeface="Microsoft Uighur" />
			</a:minorFont>
		</a:fontScheme>
		<a:fmtScheme name="Urban">
			<a:fillStyleLst>
				<a:solidFill>
					<a:schemeClr val="phClr" />
				</a:solidFill>
				<a:gradFill rotWithShape="1">
					<a:gsLst>
						<a:gs pos="0">
							<a:schemeClr val="phClr">
								<a:tint val="1000" />
								<a:satMod val="255000" />
							</a:schemeClr>
						</a:gs>
						<a:gs pos="55000">
							<a:schemeClr val="phClr">
								<a:tint val="12000" />
								<a:satMod val="255000" />
							</a:schemeClr>
						</a:gs>
						<a:gs pos="100000">
							<a:schemeClr val="phClr">
								<a:tint val="45000" />
								<a:satMod val="250000" />
							</a:schemeClr>
						</a:gs>
					</a:gsLst>
					<a:path path="circle">
						<a:fillToRect l="100000" r="280000" b="280000" />
					</a:path>
				</a:gradFill>
				<a:gradFill rotWithShape="1">
					<a:gsLst>
						<a:gs pos="0">
							<a:schemeClr val="phClr">
								<a:tint val="43000" />
								<a:satMod val="165000" />
							</a:schemeClr>
						</a:gs>
						<a:gs pos="55000">
							<a:schemeClr val="phClr">
								<a:tint val="83000" />
								<a:satMod val="155000" />
							</a:schemeClr>
						</a:gs>
						<a:gs pos="100000">
							<a:schemeClr val="phClr">
								<a:shade val="85000" />
							</a:schemeClr>
						</a:gs>
					</a:gsLst>
					<a:path path="circle">
						<a:fillToRect l="100000" r="280000" b="280000" />
					</a:path>
				</a:gradFill>
			</a:fillStyleLst>
			<a:lnStyleLst>
				<a:ln w="9525" cap="flat" cmpd="sng" algn="ctr">
					<a:solidFill>
						<a:schemeClr val="phClr" />
					</a:solidFill>
					<a:prstDash val="solid" />
				</a:ln>
				<a:ln w="19050" cap="flat" cmpd="sng" algn="ctr">
					<a:solidFill>
						<a:schemeClr val="phClr" />
					</a:solidFill>
					<a:prstDash val="solid" />
				</a:ln>
				<a:ln w="31750" cap="flat" cmpd="sng" algn="ctr">
					<a:solidFill>
						<a:schemeClr val="phClr" />
					</a:solidFill>
					<a:prstDash val="solid" />
				</a:ln>
			</a:lnStyleLst>
			<a:effectStyleLst>
				<a:effectStyle>
					<a:effectLst>
						<a:outerShdw blurRad="51500" dist="25400" dir="5400000"
							rotWithShape="0">
							<a:srgbClr val="000000">
								<a:alpha val="40000" />
							</a:srgbClr>
						</a:outerShdw>
					</a:effectLst>
				</a:effectStyle>
				<a:effectStyle>
					<a:effectLst>
						<a:outerShdw blurRad="50800" dist="25400" dir="5400000"
							rotWithShape="0">
							<a:srgbClr val="000000">
								<a:alpha val="45000" />
							</a:srgbClr>
						</a:outerShdw>
					</a:effectLst>
				</a:effectStyle>
				<a:effectStyle>
					<a:effectLst>
						<a:outerShdw blurRad="50800" dist="25400" dir="5400000"
							rotWithShape="0">
							<a:srgbClr val="000000">
								<a:alpha val="45000" />
							</a:srgbClr>
						</a:outerShdw>
					</a:effectLst>
					<a:scene3d>
						<a:camera prst="orthographicFront" fov="0">
							<a:rot lat="0" lon="0" rev="0" />
						</a:camera>
						<a:lightRig rig="flat" dir="t">
							<a:rot lat="0" lon="0" rev="20040000" />
						</a:lightRig>
					</a:scene3d>
					<a:sp3d contourW="12700" prstMaterial="dkEdge">
						<a:bevelT w="25400" h="38100" prst="convex" />
						<a:contourClr>
							<a:schemeClr val="phClr">
								<a:satMod val="115000" />
							</a:schemeClr>
						</a:contourClr>
					</a:sp3d>
				</a:effectStyle>
			</a:effectStyleLst>
			<a:bgFillStyleLst>
				<a:solidFill>
					<a:schemeClr val="phClr" />
				</a:solidFill>
				<a:gradFill rotWithShape="1">
					<a:gsLst>
						<a:gs pos="100000">
							<a:schemeClr val="phClr">
								<a:tint val="80000" />
								<a:satMod val="250000" />
							</a:schemeClr>
						</a:gs>
						<a:gs pos="60000">
							<a:schemeClr val="phClr">
								<a:shade val="38000" />
								<a:satMod val="175000" />
							</a:schemeClr>
						</a:gs>
						<a:gs pos="0">
							<a:schemeClr val="phClr">
								<a:shade val="30000" />
								<a:satMod val="175000" />
							</a:schemeClr>
						</a:gs>
					</a:gsLst>
					<a:lin ang="5400000" scaled="0" />
				</a:gradFill>
				<a:blipFill>
					<a:blip
						xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships"
						r:embed="rId1">
						<a:duotone>
							<a:schemeClr val="phClr">
								<a:shade val="48000" />
							</a:schemeClr>
							<a:schemeClr val="phClr">
								<a:tint val="96000" />
								<a:satMod val="150000" />
							</a:schemeClr>
						</a:duotone>
					</a:blip>
					<a:tile tx="0" ty="0" sx="80000" sy="80000" flip="none"
						algn="tl" />
				</a:blipFill>
			</a:bgFillStyleLst>
		</a:fmtScheme>
	</a:themeElements>
	<a:objectDefaults />
	<a:extraClrSchemeLst />
</a:theme>