<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Relationships xmlns="http://schemas.openxmlformats.org/package/2006/relationships">
	#if(${slide.getObject()})
		#set($_object = ${slide.getObject()})
	    #set($rid = ${projectGenerator.getRIdForResource(${projectGenerator.getScreenshot($_object)})})
	    <Relationship Id="$rid" Type="http://schemas.openxmlformats.org/officeDocument/2006/relationships/image" Target="../${projectGenerator.getMediaResourceRelativePath(${projectGenerator.getScreenshot($_object)})}"/>
	#end
<Relationship Id="rId1" Type="http://schemas.openxmlformats.org/officeDocument/2006/relationships/slideLayout" Target="/$Layoutpath"/>
</Relationships>