#set($prefix = "Library/Frameworks/")
${prefix}DenaliComponents.framework
${prefix}DenaliCore.framework
${prefix}DenaliCountry.framework
${prefix}DenaliEmail.framework
${prefix}DenaliExceptionHandling.framework
${prefix}DenaliFileGenerator.framework
${prefix}DenaliFlexoProcessor.framework
${prefix}DenaliKeyValueInMemory.framework
${prefix}DenaliLogging.framework
${prefix}DenaliWebResources.framework
${prefix}ScenarioRecorder.framework
${prefix}ERChangeNotificationJMS.framework
#foreach($file in $project.listFrameworksToEmbed())
${prefix}$file.getName()
#end