<document name="$project.getPrefix().toLowerCase()application">
    <!-- The newt line define the whole project -->
    <project name="$project.getPrefix() Application">
    <cvs cvsroot="192.168.169.11:/var/cvsroot" type="ssh"/>
    <modules>
        <jar name="DenaliServiceManager" cvspath="DenaliServices-api"/>
        <jar name="DenaliResources-api" cvspath="DenaliServices-api"/>
        <jar name="DenaliConfigService-api" cvspath="DenaliServices-api"/>
        <jar name="DenaliCountryService-api" cvspath="DenaliServices-api"/>
        <jar name="DenaliDomainKeyValueService-api" cvspath="DenaliServices-api"/>
        <jar name="DenaliTabulatedFileService-api" cvspath="DenaliServices-api"/>
        <jar name="DenaliLanguageService-api" cvspath="DenaliServices-api"/>
        <jar name="DenaliMailService-api" cvspath="DenaliServices-api"/>
        <jar name="DenaliExceptionService-api" cvspath="DenaliServices-api"/>
        <jar name="DenaliLocalizationService-api" cvspath="DenaliServices-api"/>
        <jar name="DenaliUserService-api" cvspath="DenaliServices-api"/>
        <jar name="DenaliUserInCookieService-api" cvspath="DenaliServices-api"/>
        <jar name="DenaliFileMimeTypeService-api" cvspath="DenaliServices-api"/>
        <jar name="DenaliFileSelectionService-api" cvspath="DenaliServices-api"/>
        <framework name="DenaliWebResources" cvspath="DenaliFrameworks"/>
        <framework name="DenaliCore" cvspath="DenaliFrameworks"/>
        <framework name="DenaliDBUtils" cvspath="DenaliFrameworks"/>
        <framework name="DenaliFlexoProcessor" cvspath="DenaliFrameworks"/>
        <framework name="DenaliComponents" cvspath="DenaliFrameworks"/>
        <framework name="DenaliExceptionHandling" cvspath="DenaliServices-impl"/>
        <framework name="DenaliEmail" cvspath="DenaliServices-impl"/>
        <framework name="DenaliFileGenerator" cvspath="DenaliServices-impl"/>
        <framework name="DenaliLogging" cvspath="DenaliFrameworks"/>
        <application name="$project.getPrefix()Application" cvspath="$project.getPrefix()">
            <package name="$project.getPrefix()Application"/>
        </application>
    </modules>
    </project>
</document>
