classes.dir = target/classes
src.dir = src/main/java
resources.dir = src/main/resources
components.dir = ${repository.getComponentsSymbolicDirectory().getDirectory().getRelativePath().substring(1)}
ws.dir = ${repository.getWebResourcesSymbolicDirectory().getDirectory().getRelativePath().substring(1)}
application.name = $repository.getWarName()
project.name = $repository.getWarName()
package.name = $repository.getWarName()
application.conf = $applicationConfFileName
webxml.woroot = /NonExistingDirectory
webxml.mode = Deployment
database = Frontbase
wosystem.embed=true
webxml.customcontent = 
