application.conf = $applicationConfFileName
application.name = $repository.getWarName()
components.dir = ${repository.getComponentsSymbolicDirectory().getDirectory().getRelativePath().substring(1)}
package.name = $repository.getWarName()
project.name = $repository.getWarName()
resources.dir = src/main/resources
src.dir = src/main/java
target.dir = target
webxml.customcontent = 
webxml.mode = Deployment
webxml.woroot = /NonExistingDirectory
ws.dir = ${repository.getWebResourcesSymbolicDirectory().getDirectory().getRelativePath().substring(1)}