<project name="$project.getPrefix()Application" default="all" basedir=".">
    <!-- Lot of settings for this task are defined in the "build.properties" file -->
    <property file="build.properties"/>
    <property file="${user.home}${file.separator}Library${file.separator}wobuild.properties"/>
    
    <path id="classpath.woproject">
        <pathelement location="${woproject.lib}"/>
    </path>
    
    <target name="properties">
    	<property name="classes.dir" value="${target.dir}/classes" />
    	<property name="dist.dir" value="${target.dir}/dist" />
    	<property name="framework.dir" value="${dist.dir}/framework" />
    	<property name="lib.dir" value="${dist.dir}/lib" />
    	<property name="webresources.dir" value="${dist.dir}/webserverresources" />
    	<property name="woapp.dir" value="${dist.dir}/woapp" />
    	<mkdir dir="${classes.dir}"/>
    	<mkdir dir="${woapp.dir}"/>
    	<mkdir dir="${webresources.dir}"/>
    </target>
    
    <target name="all" depends="properties">
    	<antcall target="unzip-api" />
    	<antcall target="unzip-framework" />
    	<antcall target="copy-framework"/>
    	<antcall target="compile"/>
    	<antcall target="build"/>
    	<antcall target="dist"/>
    </target>
    
    <target name="unzip-api" depends="properties">
        <unzip src="${zipped.api.file}" dest="${lib.dir}"/>
    </target>
    
    <target name="unzip-framework" depends="properties">
        <unzip src="${zipped.framework.file}" dest="${framework.dir}/Library/Frameworks/"/>
    </target>
    
    <target name="copy-framework" depends="properties" if="flexo.framework.dir">
    	<echo message="Copying embedded framewrks from ${flexo.framework.dir}"/>
    	<copy todir="${framework.dir}/Library/Frameworks/" verbose="true">
            <fileset dir="${flexo.framework.dir}">
                <include name="**/*"/>
                <include name="*"/>
            </fileset>
        </copy>
    </target>
    
    <target name="compile" depends="properties">
        <path id="classpath">
            <pathelement path="${classes.dir}"/>
            <fileset dir="${wo.wolocalroot}">
                <patternset>
                  <includesfile name="woproject/ant.classpaths.wo.wolocalroot.manual"/>
                </patternset>
             </fileset>
             <fileset dir="${lib.dir}">
                <include name="**/*.jar"/>
             </fileset>
        </path>
        
        <taskdef name="wocompile" classname="org.objectstyle.woproject.ant.WOCompile">
            <classpath refid="classpath.woproject"/>
        </taskdef>
        
        <wocompile srcdir="${src.dir}" destdir="${classes.dir}"
            deprecation="off" debug="on" optimize="off" 
            encoding="utf-8" compiler="javac1.4"
            source="1.5" target="1.5" fork="true">
            <frameworks dir="${wo.wosystemroot}">       
                    <includesfile name="woproject/ant.frameworks.wo.wosystemroot.manual"/>
            </frameworks>
            <frameworks dir="${framework.dir}">
                    <includesfile name="woproject/ant.frameworks.user.home.manual"/>
            </frameworks>
            <classpath refid="classpath"/>
        </wocompile>
    </target>
    
    
    <!-- Build WebObject Application -->
    <!-- For more settings please edit the "build.properties" file     -->
    <!-- Here are properties that could be modified via the file       -->
    <!--      webxml.woroot :     Path where WebObjects is installed on -->
    <!--                     deployed server.                        -->
    <!--       webxml.customcontent : Part added at the end of web.xml    -->
    <!--        webxml.appmode : WebObjects Applicaiton mode             -->
    <!--                        (Development or Deployment)            -->
    <target name="build" depends="properties">
        <taskdef name="woapplication" classname="org.objectstyle.woproject.ant.WOApplication">
            <classpath refid="classpath.woproject"/>
        </taskdef>
        
        <woapplication name="${application.name}" 
            destdir="${woapp.dir}" 
            wsdestdir="${webresources.dir}"
            webxml="true"
            webxml_customcontent="${webxml.customcontent}"
            webxml_woroot="${webxml.woroot}"
            webxml_woappmode="${webxml.mode}">   
            <classes dir="${classes.dir}">
                <patternset>
                    <includesfile name="woproject/classes.include.patternset"/> 
                    <excludesfile name="woproject/classes.exclude.patternset"/> 
                </patternset>
            </classes>
            <wsresources dir="${ws.dir}">
                <patternset>
                    <includesfile name="woproject/wsresources.include.patternset"/> 
                    <excludesfile name="woproject/wsresources.exclude.patternset"/> 
                </patternset>
            </wsresources>
            <resources dir="${resources.dir}">
                <patternset>
                    <includesfile name="woproject/resources.include.patternset"/> 
                    <excludesfile name="woproject/resources.exclude.patternset"/> 
                </patternset>
            </resources>
            <resources dir="${components.dir}">
                <patternset>
                    <includesfile name="woproject/resources.include.patternset"/> 
                    <excludesfile name="woproject/resources.exclude.patternset"/> 
                </patternset>
            </resources>
            <frameworks dir="${wo.wosystemroot}"  embed="true">
                <includesfile name="woproject/ant.frameworks.wo.wosystemroot.manual"/>
            </frameworks>
            <frameworks dir="${framework.dir}" embed="true">
                <includesfile name="woproject/ant.frameworks.user.home.manual"/>
            </frameworks>
            <lib dir=".">
                <patternset>
                    <includesfile name="woproject/ant.classpaths.wo.wolocalroot.manual"/>
                </patternset>
            </lib>
            <lib dir="${lib.dir}">
                <patternset>
                    <include name="**.jar"/>
                </patternset>
            </lib>
        </woapplication>
    	<copy tofile="${woapp.dir}/${application.name}.woa/Contents/Resources/Application.conf" file="${application.conf}" overwrite="true"/>
    </target>

    <target name="dist">
         <move todir="${webresources.dir}" preservelastmodified="true">
            <fileset dir="${webresources.dir}/WebObjects/">
                <include name="**/*"/>
            </fileset>
        </move>
        <delete dir="${webresources.dir}/WebObjects"/>
        <mkdir dir="${webresources.dir}/Frameworks"/>
    	<copy todir="${webresources.dir}/Frameworks">
            <fileset dir="${wo.wosystemroot}/Library/">
                <patternset>
                    <include name="**.framework/WebServerResources/**"/>
                </patternset>
            </fileset>
        </copy>
        <copy todir="${webresources.dir}/Frameworks">
            <fileset dir="${framework.dir}/Library/Frameworks/">
                <patternset>
                    <include name="**.framework/WebServerResources/**"/>
                </patternset>
            </fileset>
        </copy>
    	<war warfile="${war.file}" 
            webxml="${woapp.dir}/${application.name}.woa/Contents/web.xml">
            <webinf dir="${woapp.dir}">
                <include name="${application.name}.woa/**"/>
            </webinf>
            <zipfileset dir="${webresources.dir}" prefix="webserverresources"/>
            <lib dir="${wo.wosystemroot}/Library/Frameworks/JavaWOJSPServlet.framework/WebServerResources/Java/">
                <include name="JavaWOJSPServlet_client.jar"/>
            </lib>
            <lib dir="${lib.dir}">
                <include name="*.jar"/>
            </lib>
            <webinf dir="${wo.wosystemroot}/Library/Frameworks/JavaWOJSPServlet.framework/Resources/" prefix="WEB-INF/tlds">
                <include name="WOtaglib_1_0.tld"/>
            </webinf>
        </war>
    </target>
   
</project>