#macro(_nameForTextField)@single
    #set($originalWidget = $widget)
    #set($widget = $widget.getDateTextfield())
    #if($widget.isInPopup() || ${widget.isInRepetition()})
        nameFor#capName()
    #else 
        "#name()"#end@end#set($widget = $originalWidget)#end

#name()Link: WDLDateAssistantLink {
    fieldName = #_nameForTextField();
	showInDiv = true;
#if($widget.isCustomButton())
    class="denaliButton";
#end
    ##Note: no need to generate a tooltip here, the WDLButton
    ##contained in this link will do it.
}
#renderLinkContent($widget)
